* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* background: url(../img/bg2.jpg);
    background-size: cover;
    background-attachment: fixed; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.contenedor-form {
    background: rgba(88, 58, 121,03);
    max-width: 400px;
    width: 100%;
    margin: 100px auto;
    border-radius: 7px;
    color: #FAF8FC          ;
    position: relative;
    /*padding: 40px;*/
}

.contenedor-form .toggle {
    position: absolute;
    top: 5px;
    right: 130px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    line-height: 16px5
    text-align: center;
    border-top: 4px solid #26B56C  ;
    border-bottom: 4px solid #26B56C     ;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 4px solid #EBAA0A    ;
    border-bottom: 4px solid #EBAA0A    ;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 200;
    line-height: 2;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
   
    box-sizing: border-box;
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
     border-top: 3px solid #EBAA0A  ;
    border-bottom: 3px solid #EBAA0A;
}

.contenedor-form input[type="submit"] {
    background: #FAF9F4  ;
    /* color: #FFF; */
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    /* font-family: Roboto; */
    letter-spacing: 1px;
    cursor: pointer;
    margin: 5px auto;
    transition: all .5s ease;
}

#ddlCountry{
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0, 0, 0,0.5);
    color: #B3B7BD;
    border: none;
    border-radius: 2px;
   
    box-sizing: border-box;
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: rgba(235,170,10, 0.7);
}

.contenedor-form .reset-password {
    background: rgba(8, 196, 122, 0.7);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.contenedor-form .reset-password a {
    color:#FAF8FC;
    text-decoration: none;
    font-size: 18px;
}

.contenedor-form .formulario {
    display: none;
    padding: 30px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}

/* Menu */
.navbar.bg-azul{
    background-color: #607680;;
}
.container-info{
    padding-top: 30px;
}
.bg-plomo{
    background-color: #EEF1F2;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,255,255,.9);
}
.header-menu .nav-link i {
    color: #adb5bd;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255,255,255,.9);
}
.nav-link:hover .nav-link-icon {
    opacity: .9;
    color: #fff;
}

.nav-item{
    padding: 0 20px 0 0;
}

.header-menu .active .nav-link i {
    color: #fff;
    opacity: 1;
}
.nav-link .icon-salir{
    margin-left: 0;
}
.row {
    margin-right: 15px;
    margin-left: 15px;
}

.app-page-title {
    padding: 30px;
    margin: 0;
}

.widget-content .widget-content-left .widget-heading {
    font-size: 22px;
}

.color-plomo{
    color: #495057;
    opacity: 1!important;
}

.bg-blue-header{
   background-color: #118afa;
}

#map{
	width: 100%;
	height: 800px;
	margin: 0 auto;
	margin: 20px auto;
}

.conf-list ul{
    list-style-type: none;
    display: flex;
}

.conf-list ul li{
    padding: 0 15px;
}

.conf-list ul li a{
    color: #495057;
    text-decoration: none;
}

.card-header, .card-title {
    text-transform: inherit;
}


 
 /*h2{
 color:white;
 text-shadow: 4px 4px 4px #333;
 text-align: center;
 margin-top: 200px;
 }
 */


 .background-wrap {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#video-bg-elem {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}
.content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
}
.content h1 {
    text-align: center;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    padding-top: 15%;
    margin-bottom: 10px;
}
.content p {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    color: #aaa;
}